@media only screen and (max-width: 1930px) {
  .header {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }
}

@media only screen and (max-width: 1690px) {
  .header {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }
}

@media only screen and (max-width: 1450px) {
  .header {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -108px 0px;
  }
}

@media only screen and (max-width: 1390px) {
  .header {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -140px 0px;
  }
}

@media only screen and (max-width: 1366px) {
  .header {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -148px 0px;
  }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1025px) {

}

@media only screen and (max-width: 990px) {

}

@media only screen and (max-width: 770px) {
  .model__tg {
    width: auto !important;
  }
  .model__tg col {
    width: auto !important;
  }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

}

@media only screen and (max-width: 680px) {

}

@media only screen and (max-width: 568px) {

}

@media only screen and (max-width: 420px) {

}

@media only screen and (max-width: 380px) {

}

@media only screen and (max-width: 320px) {

}


