.brand{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff;
  background-image: url("../img/brand-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: -71px 0;
  &__img{
    display: block;
    position: relative;
    width: 157px;
    height: 287px;
    margin: 0px auto;
    margin-top: -25px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__uptitle{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    text-transform: capitalize;
    color: #ca2536;
    font-family: $gilroyextrabold;
    font-size: 28px;
    margin-top: 64px;
    padding-left: 90px;
    margin-bottom: -49px;
  }
  &__title{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    text-transform: capitalize;
    color: #3c8bf2;
    font-family: $gilroyextrabold;
    font-size: 165px;
    margin: 0;
    padding-right: 126px;
  }
  &__box{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 100px;
    &--left{
      display: block;
      position: relative;
      width: 50%;
      float: left;
    }
    &--right{
      display: block;
      position: relative;
      width: 50%;
      float: left;
    }
    &--img{
      display: block;
      position: relative;
      width: 100%;
      height: 436px;
      overflow: hidden;
      padding: 30px;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &--content{
      display: block;
      position: relative;
      width: 100%;
      float: left;
      margin-bottom: 30px;
      color: #3c8bf2;
      font-family: $gilroyextrabold;
      font-size: 16px;
      line-height: 24px;
    }
    &--order{
      display: block;
      position: relative;
      float: left;
      padding: 15px 30px;
      border: 4px solid #3c8af1;
      text-transform: uppercase;
      color: #3c8bf2;
      font-family: $gilroyextrabold;
      font-size: 20px;
      &:hover{
        border: 4px solid #ca2536;
        color: #ca2536;
      }
    }
  }
}