.contacts{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff;
  background-image: url("../img/contacts-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: -11px -66px;
  .square{
    display: block;
    position: absolute;
    top: 0;
    left: 186px;
    width: 22px;
    height: 15px;
    background-color: #3b87ec;
    z-index: 2;
  }
  .square-bottom{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 22px;
    height: 15px;
    background-color: #3c8af1;
  }
  &__title{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    margin-top: 78px;
    text-align: left;
    color: #3c8af1;
    font-family: $gilroyextrabold;
    font-size: 70px;
    line-height: 73px;
  }
  &__subtitle{
    display: block;
    position: relative;
    /*width: 100%;*/
    float: left;
    opacity: 0.3;
    color: #3c8af1;
    font-family: $gilroylight;
    font-size: 38px;
    letter-spacing: 5px;
    line-height: 46px;
    text-transform: uppercase;
  }
  &__box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    float: right;
    position: relative;
    margin-bottom: 160px;
    &--address{
      flex: 1;
      position: relative;
      color: #3c8af1;
      font-family: $gilroyextrabold;
      font-size: 14px;
      line-height: 19px;
      padding-left: 22px;
      border-bottom: 1px dashed #e7eff9;
      img{
        position: absolute;
        left: 0;
        top: 9px;
      }
    }
    &--call{
      flex: 1;
      position: relative;
      text-align: right;
      color: #3c8af1;
      font-family: $gilroyextrabold;
      font-size: 14px;
      line-height: 19px;
      padding-left: 22px;
      padding-top: 8px;
      border-bottom: 1px dashed #e7eff9;
      &:hover{
        color: #3c8af1;
      }
      img{
        position: absolute;
        top: 7px;
        right: 114px;
      }
    }
  }
  &__animation1{
    display: block;
    position: absolute;
    width: 38.99%;
    top: 0;
    left: 196px;
    height: 75%;
    &--vertical{
      position: relative;
      top: 0;
      left: 0;
      display: block;
      width: 1px;
      height: 0;
      background-color: #d4e4f8;
      transition: height 3s;
    }
    &--horizontal{
      display: block;
      position: absolute;
      width: 0;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: #d4e4f8;
      transition: width 3s;
    }
  }
  &__animation2{
    position: absolute;
    bottom: 0;
    left: 196px;
    display: block;
    width: 38.99%;
    height: 25%;
    //border-right: 1px solid red;
    &--vertical{
      position: relative;
      top: 0;
      left: 100%;
      display: block;
      width: 1px;
      height: 0;
      background-color: #d4e4f8;
      transition: height 3s;
    }
  }
}