.svc{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #d95865;
  /*background-image: url("../img/svc-bg.png");*/
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 23px 0;
  .square{
    display: block;
    position: absolute;
    top: 0;
    left: 356px;
    width: 22px;
    height: 15px;
    background-color: #fff;
  }
  &__box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    position: relative;
    float: left;
    margin: 150px 0px;
    &--left{
      flex: 1;
      position: relative;
      float: left;
    }
    &--right{
      flex: 1;
      position: relative;
      float: left;
    }
    &--img{
      display: block;
      position: relative;
      width: 100%;
      float: left;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__title{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    text-align: left;
    color: white;
    font-family: $gilroyextrabold;
    font-size: 70px;
    line-height: 73px;
  }
  &__subtitle{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin: 40px 0px;
    text-align: left;
    color: white;
    font-family: $gilroylight;
    font-size: 20px;
  }
  &__list{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    list-style-type: disc;
    li{
      display: block;
      position: relative;
      width: 100%;
      float: left;
      color: white;
      font-family: $gilroylight;
      font-size: 18px;
      line-height: 30px;
    }
    li:before{
      display: block;
      position: absolute;
      content: "";
      width: 3px;
      height: 3px;
      left: -10px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff;
      margin-top: 15px;
    }
  }
}