/*
$qanelaslight: 'Qanelas Light';
$qanelasregular: 'Qanelas Regular';
$qanelassemibold: 'Qanelas Semi Bold';

@font-face {
  font-family: 'Qanelas Light';
  src: url('../fonts/Qanelas/QanelasLight.eot') format('embedded-opentype'),
  url('../fonts/Qanelas/QanelasLight.woff2') format('woff2'),
  url('../fonts/Qanelas/QanelasLight.woff') format('woff'),
  url('../fonts/Qanelas/QanelasLight.ttf') format('truetype'),
  url('../fonts/Qanelas/QanelasLight.svg') format('svg');
}
@font-face {
  font-family: 'Qanelas Regular';
  src: url('../fonts/Qanelas/QanelasRegular.eot') format('embedded-opentype'),
  url('../fonts/Qanelas/QanelasRegular.woff2') format('woff2'),
  url('../fonts/Qanelas/QanelasRegular.woff') format('woff'),
  url('../fonts/Qanelas/QanelasRegular.ttf') format('truetype'),
  url('../fonts/Qanelas/QanelasRegular.svg') format('svg');
}
@font-face {
  font-family: 'Qanelas Semi Bold';
  src: url('../fonts/Qanelas/QanelasSemiBold.eot') format('embedded-opentype'),
  url('../fonts/Qanelas/QanelasSemiBold.woff2') format('woff2'),
  url('../fonts/Qanelas/QanelasSemiBold.woff') format('woff'),
  url('../fonts/Qanelas/QanelasSemiBold.ttf') format('truetype'),
  url('../fonts/Qanelas/QanelasSemiBold.svg') format('svg');
}*/
html {
  width: 100%; }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline; }

input {
  outline: none; }
  input:hover, input:focus, input:active {
    outline: none; }

textarea {
  outline: none; }
  textarea:hover, textarea:focus, textarea:active {
    outline: none; }

.container {
  *zoom: 1; }
  .container:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    text-decoration: none; }

/*
h3{
  font-family: $qanelassemibold;
  font-size: 23px;
}
p{
  font-family: $qanelasregular;
  font-size: 14px;
}
*/
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative; }

@media (min-width: 420px) {
  .container {
    width: 100%; } }
@media (min-width: 568px) {
  .container {
    width: 100%; } }
@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
@media (min-width: 1900px) {
  .container {
    width: 1200px; } }
.header {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff; }
  .header__logo {
    display: block;
    position: relative;
    width: 285px;
    float: left;
    margin-top: 50px; }
    .header__logo--img {
      display: block;
      position: relative;
      width: 100%;
      height: 78px;
      overflow: hidden; }
      .header__logo--img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .header__nav {
    display: block;
    position: relative;
    width: calc(100% - (285px + 234px));
    float: left; }
    .header__nav ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      position: relative;
      width: 100%;
      float: left;
      margin: 0;
      list-style: none; }
      .header__nav ul li {
        flex: 1 0 0;
        position: relative;
        float: left; }
        .header__nav ul li a {
          display: block;
          position: relative;
          width: 100%;
          float: left;
          padding: 20px 10px;
          text-align: center; }
  .header__phone {
    display: block;
    position: relative;
    width: 234px;
    float: left;
    text-align: center; }
    .header__phone--tel {
      display: block;
      position: relative;
      width: 100%;
      float: left; }
    .header__phone--call {
      display: block;
      position: relative;
      width: 100%;
      float: left; }

.footer {
  display: block;
  position: relative;
  width: 100%;
  float: left; }

/*# sourceMappingURL=styles.css.map */
